@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0E2738;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login {
    width: 500px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 15px #08161fab;
}

.login h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

.login .info {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    padding: 0px 20px 0px 20px;
}

.info input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 2px solid #5A9ECA;
    padding: 10px;
}

.remember-me {
    padding: 20px;
}
